#
# attio_email_tracking.service for rootless deployment with podman and systemd
#
# Requires:
# - podman
# - systemd
#
# Can be updated with:
# - podman auto-update
# - podman auto-update --dry-run
#
# How to use:
# $ cp attio_email_tracking.service ~/.config/systemd/user/
# $ podman pull ghcr.io/thomastjdev/attio_email_tracking:latest
# $ systemctl --user start attio_email_tracking
# $ systemctl --user status attio_email_tracking
# $ systemctl --user enable attio_email_tracking
#

[Unit]
Description=Podman attio_email_tracking.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
RestartSec=3
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --rm \
        --sdnotify=conmon \
        -d \
        --replace \
        --name attio_email_tracking \
        --init \
        --network host \
        --label io.containers.autoupdate=registry \
        --log-driver journald \
        --log-opt tag=attio_email_tracking \
        --env RUN_MODE=prod \
        --env WEBSERVER_HOST=0.0.0.0 \
        --env WEBSERVER_PORT=2884 \
        --env REDIS_HOST=localhost \
        --env ATTIO_API_KEY=your_api_key \
        --env ATTIO_API_RATE_LIMIT=5 \
        --env ATTIO_PEOPLE_SLUG_EMAIL_OPEN=email_opened \
        --env ATTIO_PEOPLE_SLUG_EMAIL_CLICK=email_clicked \
        --env ATTIO_COMPANY_SLUG_EMAIL_OPEN=email_opened \
        --env ATTIO_COMPANY_SLUG_EMAIL_CLICK=email_clicked \
        --env ATTIO_DEAL_SLUG_EMAIL_OPEN=email_opened \
        --env ATTIO_DEAL_SLUG_EMAIL_CLICK=email_clicked \
        --env ATTIO_TRACKER_PEOPLE_ON=true \
        --env ATTIO_TRACKER_COMPANY_ON=false \
        --env ATTIO_TRACKER_DEAL_ON=false \
        --env TRACKER_HOST_URL=https://your_host_url.com \
        --env EMAIL_CACHE_TIME=2592000 \
        --env EMAIL_CACHE_EXPIRED_REDIRECT=https://attio.com \
        ghcr.io/thomastjdev/attioemailtracking:latest
ExecStop=/usr/bin/podman stop \
        --ignore \
        --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
        -f \
        --ignore \
        --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target default.target
